# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{c,h}]
indent_size = 4
indent_style = tab
cpp_space_within_control_flow_statement_parentheses = true
insert_final_newline = true